.b-form {
  max-width: 210px;
  width: 100%;
  &:nth-child(2) {
    margin-bottom: 11px;
  }
  &__input {
    display: block;
    padding: 5px 0px 6px 9px;
    background: #1f1f1f;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $lightColor;
    margin-bottom: 8px;
    transition-duration: 0.5s;
    &::placeholder {
      font-family: "Lora Regular", serif;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 0.03em;
      color: $lightColor;
    }
    &:focus {
      color: $majorColor;
      box-shadow: 0 0 0 2px $majorColor;
    }
  }
  &__button {
    padding: 9px 10px 6px 10px;
    font-size: 13px;
    letter-spacing: 0.08em;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #1f1f1f;
    color: $majorColor;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Lora SemiBold";
    transition-duration: 0.5s;
    &:hover {
      color: $lightestColor;
    }
  }
}
