.offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
  &__card {
    position: relative;
  }
  &__link {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 22, 22, 0.7);
      transition: all 0.8s ease;
      z-index: 1;
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text-wrp {
    position: relative;
    z-index: 1;
    color: $color2;
    width: 100%;
    height: 100%;
    font-size: 16px;
    @include flexCenter;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $color3;
  }
}
@media (min-width: 768px) {
  .offers {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(167px, 260px) minmax(116px, 180px);
    gap: 20px;
    row-gap: 32px;
    padding: 64px 16px;
    &__card--long {
      grid-column: 1/-1;
    }
  }
}
