@import "../css/normolize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
@import "variables.css";
@media (hover: hover) {
  .offers__card:hover .offers__link::before {
    background-color: rgba(33, 22, 22, 0);
  }
  .fetured__item:hover .brand-item__hover-wrapper {
    visibility: visible;
    background: rgba(58, 56, 56, 0.86);
  }
  .fetured__button:hover {
    background: var(--color3);
    color: var(--color2);
  }
  .footer__social-link:hover {
    color: var(--color2);
    background: var(--color3);
  }
}
body {
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 400;
}

.header {
  background: var(--color1);
  height: 74px;
  padding: 18px 16px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-wrp {
  max-width: 111px;
  width: 100%;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  display: block;
  width: 44px;
  height: 38px;
}

.user-icon,
.cart-icon-wrp {
  display: none;
  cursor: pointer;
}

.bar-icon,
.search-icon {
  cursor: pointer;
}

.search-icon {
  margin: 0 0 0 41px;
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .user-icon {
    display: inline-block;
    margin: 0 42px 0 25px;
  }
  .cart-icon-wrp {
    display: inline;
    position: relative;
  }
  .cart-icon-wrp span {
    position: absolute;
    display: inline-block;
    width: 19px;
    height: 19px;
    color: var(--color2);
    text-align: center;
    background: var(--color3);
    border-radius: 50%;
    right: -8px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;
  }
}
@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
  }
}
.brand {
  position: relative;
  min-height: 363px;
}
.brand-wrap {
  min-height: inherit;
}
.brand__left img {
  display: none;
}
.brand__right {
  background: var(--color4);
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand__promo {
  color: var(--color1);
  max-width: 261px;
  width: 100%;
  min-height: 61px;
  border-left: 13px solid var(--color3);
  box-sizing: border-box;
  padding: 7px 0 0 15px;
}
.brand__promo:first-child {
  display: block;
  font-weight: 900;
  font-size: 38px;
  line-height: 29px;
}
.brand__promo h1:last-child {
  font-family: var(--font1);
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  margin: 9px 0 0 0;
}
.brand__promo h1:last-child span {
  color: var(--color3);
}
.brand__menu-dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
}
.brand__menu-dark.hidden {
  display: none;
}

.menu {
  margin: 0 0 0 auto;
  max-width: 232px;
  width: 100%;
  height: inherit;
  max-height: inherit;
  overflow: auto;
  background: var(--color2);
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

.menu {
  position: relative;
}
.menu .brand__menu-close {
  display: block;
  position: absolute;
  top: 16px;
  right: 19px;
}
.menu__list {
  padding: 37px 20px 37px 43px;
}
.menu__item_heading {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 24px 0;
}
.menu__item-title {
  color: var(--color3);
  text-transform: uppercase;
  margin: 0 0 12px 0;
}
.menu__sublist {
  max-width: 178px;
  width: 100%;
  min-height: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  margin: 0 0 20px 0;
}
.menu__sublist .menu__sublist-item {
  margin: 0 0 0 21.5px;
}
.menu a {
  display: block;
  color: var(--color5);
  line-height: 17px;
}

@media (min-width: 768px) {
  .brand {
    min-height: 367px;
  }
  .brand-wrap {
    display: flex;
  }
  .brand-wrap > div {
    width: 50%;
  }
  .brand__left {
    min-height: inherit;
  }
  .brand__left .brand__image {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand__right {
    justify-content: flex-start;
  }
  .brand__promo {
    margin: 0 0 0 40px;
    padding: 12px 0 0 15px;
    min-height: 92px;
  }
  .brand__promo:first-child {
    font-size: 44px;
    line-height: 33px;
  }
  .brand__promo h1:last-child {
    font-size: 24px;
    margin: 11px 0 0 0;
  }
}
@media (min-width: 1600px) {
  .brand__promo {
    margin: 0 0 0 64px;
    padding: 14px 0 0 17px;
    min-height: 92px;
  }
  .brand__promo:first-child {
    font-size: 48px;
    line-height: 33px;
  }
  .brand__promo h1:last-child {
    font-size: 32px;
    margin: 18px 0 0 0;
  }
  .brand__menu-dark {
    display: block;
  }
}
.offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
}
.offers__card {
  position: relative;
}
.offers__link {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  height: 100%;
}
.offers__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  transition: all 0.8s ease;
  z-index: 1;
}
.offers__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offers__text-wrp {
  position: relative;
  z-index: 1;
  color: var(--color2);
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offers__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color3);
}

@media (min-width: 768px) {
  .offers {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(167px, 260px) minmax(116px, 180px);
    gap: 20px;
    row-gap: 32px;
    padding: 64px 16px;
  }
  .offers__card--long {
    grid-column: 1/-1;
  }
}
.fetured {
  padding: 0 8px 96px;
}
.fetured__title {
  margin-bottom: 3px;
  text-align: center;
  color: var(--color1);
}
.fetured__text {
  text-align: center;
  color: var(--color6);
  margin-bottom: 64px;
}
.fetured__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
.fetured__item {
  background: var(--color7);
}
.fetured__button {
  display: block;
  background: none;
  margin: 40px auto 0;
  border: 1px solid var(--color9);
  padding: 15px 39px;
  color: var(--color10);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.8s ease;
  cursor: pointer;
}

.brand-item__image-wrapper {
  position: relative;
  cursor: pointer;
}
.brand-item__item-image {
  width: 100%;
  display: block;
}
.brand-item__hover-wrapper {
  visibility: hidden;
  transition: all 0.4s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-item__button {
  background: none;
  padding: 11.26px 16.36px 8.71px 13.52px;
  border: 1px solid var(--color2);
  color: var(--color2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.brand-item__button-image {
  width: 26px;
  height: 24px;
}
.brand-item__button-txt {
  font-size: 14px;
  font-family: inherit;
}
.brand-item__info-wrapper {
  padding: 23.28px 16.41px 19.95px;
}
.brand-item__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--color0);
}
.brand-item__description {
  color: var(--color8);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 12px 0 18px;
}
.brand-item__price {
  color: var(--color3);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 640px) {
  .fetured {
    padding: 0 16px 65px;
  }
  .fetured__text {
    margin-bottom: 73px;
  }
  .fetured__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (min-width: 1000px) {
  .fetured {
    padding: 0 16px 96px;
  }
  .fetured__text {
    margin-bottom: 48px;
  }
  .fetured__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1600px) {
  .fetured {
    padding: 0 0 96px 0;
  }
}
.services {
  background-color: var(--color11);
  padding: 48px 14px 81px;
}
.services__list {
  display: grid;
  gap: 46px;
}
.services__unit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__name, .services__description {
  color: var(--color12);
  text-align: center;
}
.services__name {
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 15px;
}
.services__description {
  max-width: 340px;
  width: 100%;
  font-size: 13.972px;
  line-height: 17px;
  font-weight: 300;
}
.services__description span {
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .services {
    padding: 100px 14px;
  }
  .services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.subscribe {
  background: url(../../images/subscribe/subscribe-background.jpg) no-repeat;
  background-size: cover;
  padding: 64px 20px 109px;
}
.subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__user-text {
  max-width: 330px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  color: var(--color11);
}
.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}
.subscribe__title, .subscribe__text {
  max-width: 271px;
  width: 100%;
  text-align: center;
  color: var(--color11);
}
.subscribe__title {
  font-weight: 700;
  font-size: 24px;
}
.subscribe__text {
  font-size: 14px;
  margin-bottom: 22px;
}
.subscribe__form {
  height: 47px;
}
.subscribe__input, .subscribe__button {
  height: inherit;
}
.subscribe__input {
  width: 185px;
  background: var(--color13);
  padding: 6px 21px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  float: left;
}
.subscribe__input::-webkit-input-placeholder {
  color: var(--color11);
  opacity: 0.671;
}
.subscribe__input::-ms-input-placeholder {
  color: var(--color11);
  opacity: 0.671;
}
.subscribe__input::-moz-placeholder {
  color: var(--color11);
  opacity: 0.671;
}
.subscribe__input :-moz-placeholder {
  color: var(--color11);
  opacity: 0.671;
}
.subscribe__button {
  color: var(--color2);
  font-size: 14px;
  background: var(--color3);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 18px;
}

@media (min-width: 768px) {
  .subscribe__left {
    margin-left: -8px;
  }
  .subscribe__right {
    margin-top: 80px;
  }
  .subscribe__user-text {
    margin-top: 32px;
    max-width: 375px;
    font-size: 21px;
    line-height: 24px;
  }
  .subscribe__title, .subscribe__text {
    max-width: 360px;
  }
  .subscribe__text {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 26px;
  }
  .subscribe__form {
    height: 49px;
    max-width: 360px;
  }
  .subscribe__input {
    width: 256px;
    background: var(--color13);
    padding: 6px 21px;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    padding: 97px 20px 126px;
  }
  .subscribe .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .subscribe__right {
    margin-top: 60px;
    margin-right: 105px;
  }
  .subscribe__text {
    margin-bottom: 32px;
  }
}
.footer {
  background: var(--color11);
  padding: 43px 20px 10px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.footer__social-list {
  display: flex;
  gap: 7.29px;
}
.footer__social-link {
  color: var(--color0);
  background: var(--color2);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}
.footer__copyright {
  color: var(--color2);
}

@media (min-width: 768px) {
  .footer {
    padding: 32px 24px;
  }
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .footer__social {
    order: 2;
  }
}