@media (hover: hover) {
  .offers__card:hover .offers__link::before {
    background-color: rgba(33, 22, 22, 0);
  }
  .fetured__item:hover .brand-item__hover-wrapper {
    visibility: visible;
    background: rgba(58, 56, 56, 0.86);
  }
  .fetured__button:hover {
    background: $color3;
    color: $color2;
  }
  .footer {
    &__social-link:hover {
      color: $color2;
      background: $color3;
    }
  }
}
