.slider {
  position: relative;
  min-height: 624px;
  border: 1px solid $color19;
  background: $color20;
  display: flex;
  align-items: center;
  &__image {
    display: block;
    margin: 85px auto;
    max-width: 100%;
    object-fit: cover;
  }
  &__switcher {
    &-left,
    &-right {
      position: absolute;
      background-color: $color21;
      @include flexCenter;
      width: 47px;
      height: 47px;
      top: calc(50% - 47px / 2);
      cursor: pointer;
    }
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
    &-svg {
      transition: all 0.8s ease;
    }
  }
}
@media (min-width: 768px) {
  .slider {
    &__image {
      margin: 30px auto;
    }
  }
}
@media (min-width: 1600px) {
  .slider {
    min-height: 777px;
    &__image {
      margin: 11px auto;
    }
  }
}
